<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="utf-8" />
  <title>Express: URL-Parameter / Shop - Exercise</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>

  <h1>Popular Packages</h1>

  
 <nav>
    <ul>
      <% for (var i=0; i < products.length; i++){ %>
        <li><a href="/product/<%= i %>"><%= products[i].product_name %></a></li>
        <% } %>
    </ul>
 </nav>

</body>

</html>
